<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhida.dao.IUserDao">
    <select id="selectAll"  resultType="User">
		select * from user
	</select>
	<select id="selectOneByID" resultType="User">
		select * from user where userId = #{userId}
	</select>
	<select id="login" resultType="User">
		select * from user where userLoginName = #{userLoginName} and userPassword = #{userPassword}
	</select>
	<select id="selectByLoginName" resultType="User">
		select * from user where userLoginName like concat(concat('%', #{userLoginName}) ,'%')
	</select>
	<select id="checkLoginName" resultType="User">
		select * from user where userLoginName = #{userLoginName}
	</select>
	<insert id="insertOne" parameterType="User">
		insert into user
		(userLoginName,userPassword,userName,userPhone,userEmail,userStatus,modifiedTime)
		values
		(#{userLoginName},#{userPassword},#{userName},#{userPhone},#{userEmail},#{userStatus},current_time )
	</insert>
	<update id="updateOne" parameterType="User">
		update user
		<set>
			<if test="userLoginName != null">
				userLoginName = #{userLoginName},
			</if>
			<if test="userPassword != null">
				userPassword = #{userPassword},
			</if>
			<if test="userName != null">
				userName = #{userName},
			</if>
			<if test="userPhone != null">
				userPhone = #{userPhone},
			</if>
			<if test="userEmail != null">
				userEmail = #{userEmail},
			</if>
			<if test="userStatus != null">
				userStatus = #{userStatus},
			</if>
			modifiedTime = current_time
		</set>
		where userId =#{userId}
	</update>
	<delete id="deleteOne" parameterType="User">
		delete from user where userId =#{userId}
	</delete>
	
</mapper>